.custom-carousel .carousel .slide {
  height: 200px;
  background: none;
}

.carousel-image-container {
  height: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-image.sold {
  filter: grayscale(100%);
}

/* Increase height for desktop view */
@media (min-width: 1024px) {
  .desktop-height .carousel .slide {
    height: 600px; /* Adjust the height as needed */
  }
}
