.custom-carousel .carousel .slide {
  height: 200px;
}

.carousel-image-container {
  height: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-image.sold {
  filter: grayscale(100%);
}
