@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

main {
    padding-bottom: 4rem;
    padding-top: 5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}